<form #myForm="ngForm">
  <table>
        <tr hidden="true">
                <td>
                    <strong>Task Id</strong>
                </td>
                <td>
                    <input type="text"  value=1 id="txtTaskId" [(ngModel)]="item.TaskId" required name="TaskId" >
                </td>
            </tr>
      <tr>
          <td>
              <strong>Task</strong>
          </td>
          <td>
              <input type="text" id="txtTask" [(ngModel)]="item.TaskName" required name="TaskName">
          </td>
      </tr>
      <tr>
          <td>
              <strong>Priority</strong>

          </td>
          <td>
              <input type="range" id="txtRange" min="0" max="30" step="1" value="0" [(ngModel)]="item.Priority" name="Priority"
                  oninput="txtRange_Priority.value=txtRange.value">
          </td>
          <td>
                  <output id="txtRange_Priority"></output>
          </td>   
      </tr>
      <tr>
          <td>
              <strong>Parent Task</strong>
          </td>
          <td>
              <select id="txtParent" [(ngModel)]="item.ParentTask" name="ParentTask" style="width:210px;height:30px;">
                <option [value]=""></option>
                <option [value]="item.TaskName" *ngFor="let item of list|filter">{{item.TaskName}}</option>
                  
              </select>
          </td>
      </tr>
      <tr>
          <td>
              <strong>Start Date</strong>
          </td>
          <td>
              <input type="Date" id="dtStartDate" [(ngModel)]="item.SDate" required name="StartDate">
          </td>
      </tr>
      <tr>
          <td>
              <strong>End Date</strong>
          </td>
          <td>
              <input type="Date" id="dtEndDate" [(ngModel)]="item.EDate" name="EndDate">
          </td>
      </tr>
      <tr>
          <td colspan="2" class="btnAdd" >
              <button type="button" class="btn btn-primary" (click)="Add(); myForm.reset()" name="Add" value="Add">Add</button>
              &nbsp;&nbsp;
              <input type="submit" class="btn btn-primary" name="Reset" (click)="myForm.reset()" value="Reset">
          </td>
      </tr>
  </table>
</form>

